@import 'footer';
@import 'header';

.page-content {
  min-height: 100vh;
  position: relative;

  .formik-container {
    background-color: #eff2f7;
  }

  .main-section {
    & > .slice {
      position: relative;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 30% -138px;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-color: $gray-900;
        opacity: 0.8;
      }
    }
  }
}