
.calculate-buttons {
  
  height: 50px;
  z-index: 100;

  @media (max-width: 768px) {
    &.sidebar {
      position: fixed;
      bottom: 23px;
      left: 20px;
      filter: drop-shadow(5px 5px 4px #808080);
    }
  }

  .preloader-btn {
    display: none;
  }

  .btn:not(.preloader-btn) {
    display: none;

    &.open {
      display: block;
    }
  }
}

.preloader-btn {
  &.open {
    display: block;
  }

  .loading {
    animation: rotate 1s infinite linear;
  }
}