.alert {
  color: $black;
  font-weight: 600;
  margin: 0 15px 15px;
}

.update-form-container {
  background-color: white;
  padding: 20px;
  border-radius: 6px;

  .toggle-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
}

.child-support-type {
  text-decoration: underline;
}

.select__control {
  height: 48px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight:700;
  font-family: 'DM Sans', sans-serif !important;
}
