.modal {
  cursor: pointer;

  .modal-content {
    border-radius: 8px;
    cursor: default;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
}

@import 'upgrade-plan';
